:root {
  --description-indent: 2rem;
  --h1-size: 150%;
  --section-term-size: 130%;
  --section-term-margin: 1rem 0;
  --term-size: 110%;
  --term-margin: 0;
}

html {
  margin: 0 1rem; /* ensure margins on all screens */
}

body {
  line-height: 1.4;
  font-family: Arial, Helvetica;
  font-size: 1rem;
  max-width: 80ch;
  margin: auto;
}

a {
  text-decoration: none;
  color: blue !important;
}

[property='skos:prefLabel'] {
  font-weight: bold;
}

/* main header */
[property='skos:prefLabel']:not([typeof='skos:Concept']) {
  font-size: var(--h1-size);
}

/* section header */
[property='skos:prefLabel'][typeof='skos:Concept'][rel='skos:isTopConceptOf'] {
  margin: var(--section-term-margin);
  font-size: var(--section-term-size);
  text-decoration: underline;
}

/* concept definition */
[property='skos:prefLabel'][typeof='skos:Concept']:not(
    [rel='skos:isTopConceptOf']
  ) {
  font-size: var(--term-size);
  margin: var(--term-margin);
}

dd {
  margin-bottom: 1rem;
  /* reset browser default */
  margin-left: 0;
}

/* indent note, and concept description */
[property='skos:note'],
[property='skos:prefLabel']:not([rel='skos:isTopConceptOf']) + dd {
  margin-left: var(--description-indent);
}

#license {
  font-style: italic;
}

/* mobile view */
@media (max-width: 600px) {
  :root {
    /* remove indentation to better suit narrow screen */
    --description-indent: 0;
    --term-margin: 0.25rem 0;

    /* decrease header sizes */
    --h1-size: 140%;
    --section-term-size: 120%;
  }
}
